<div style='line-height: normal; color: #828282'>
  <%= link_to p.relative_url, host: forums_host do %>
    <%= render("lock_html") if p.topic.closed %> <%= bold_match(p.topic.title, params[:term]) %>
    <% c = p.topic.category %>
    <span style='background-color: #<%= c.color %>; color: #<%= c.text_color %>;' title='<%= c.description.present? ? c.description : c.name %>' class='badge-category' data-drop-close='true' href='<%= c.relative_url %>'> 
      <%= c.name %>
    </span>
  <% end %>
  <%= p.created_at %> - <%= bold_match(result.send(request.xhr? ? :blurb : :big_blurb, p), params[:term], 'black') %>
</div>
