<div class="tabs">
  <ul class="nav nav-pills latest-tabs subtle" id='navigation-bar'>
    {{#each navItem in navItems}}
      {{navigation-item content=navItem filterMode=filterMode}}
    {{/each}}
    {{custom-html "extraNavItem"}}
  </ul>
</div>

{{bread-crumbs categories=categories}}

{{#if canCreateTopic}}
  <button id="create-topic" class='btn btn-default' {{action "createTopic"}}><i class='fa fa-plus'></i>{{i18n topic.create}}</button>
{{/if}}
