<div style="width: 100%; background-color: #F2F2F2; font-family: 'Arial, Helvetica, Verdana'; font-size: 14px; padding-bottom: 30px;">
  <center>
    <div style="border: 1px solid #B3B3B3; width: 650px; background-color: white; padding: 10px; margin-top: 20px; text-align: left">
      <div style="background-color: white; width: 650px;">

        <%= Rails.cache.fetch("mailer_header", expires_in: 24.hours) do pull_mailer_header; end %>

        <% default_link_options = { style: "color:#3980a3" } %>

        <div style="margin-top: 10px;">

          <%= raw(t 'user_notifications.digest.why', site_link: html_site_link(default_link_options), last_seen_at: @last_seen_at) %>

          <%- if @featured_topics.present? %>
            <hr/>
            <h3><%=t 'user_notifications.digest.top_topics' %></h3>


            <%- @featured_topics.each_with_index do |t, i| %>
              <div class='featured-topic'>
                <%= link_to t.title, "#{Discourse.base_url}#{t.relative_url}", default_link_options %>
                <%= email_category(t.category) %>
              </div>

              <%- if t.best_post.present? %>
                <div class='digest-post'>
                  <%= email_excerpt(t.best_post.cooked, @featured_topics.size) %>
                </div>
              <%- end %>

              <%- if i < @featured_topics.size - 1 %><% end %>

            <%- end %>
          <%- end %>

          <%- if @new_topics.present? %>
            <hr/>
            <h3><%=t 'user_notifications.digest.other_new_topics' %></h3>

            <%- @new_topics.each do |t| %>
              <ul>
                <li>
                  <%= link_to t.title, "#{Discourse.base_url}#{t.relative_url}", default_link_options %>
                  <span class='post-count'><%= t('user_notifications.digest.posts', count: t.posts_count) %></span>
                  <%= email_category(t.category) %>
                </li>
              </ul>
            <%- end -%>

          <%- end -%>

          <%- if @new_topics_since_seen > 0 %>
            <%- if @new_by_category.present? %>
              <p><%= t('user_notifications.digest.more_topics_category', last_seen_at: @last_seen_at, new_topics_since_seen: @new_topics_since_seen) %></p>
              <div>
              <%- @new_by_category.each do |c| %>
                <span style="margin-bottom: 8px; margin-right: 10px; display: inline-block;"><%= email_category(c[0], show_uncategorized: true) %> x <%= c[1] %></span>
              <%- end %>
            </div>
            <%- else %>
              <p><%= t('user_notifications.digest.more_topics', last_seen_at: @last_seen_at, new_topics_since_seen: @new_topics_since_seen) %></p>
            <%- end %>
          <%- end -%>

        </div>
      </div>
    </div>

    <div style="border: 1px solid #B3B3B3; width: 650px; background-color: white; padding: 10px; margin-top: 20px; text-align: left">
      <%=raw(t :'user_notifications.digest.unsubscribe',
       site_link: html_site_link(default_link_options),
       unsubscribe_link: link_to(t('user_notifications.digest.click_here'), email_unsubscribe_path(host: Discourse.base_url, key: @user.temporary_key, only_path: false), default_link_options))  %>
    </div>
  </center>
</div>
